<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">    
      <p align="center">
        <img src="/assets/images/songweizhi_2.jpg" style="width: 170px;"/>
      </p>
      <h3 align="center"><a class="">Weizhi Song</a></h3>
      <p style="font-size:15px" align="center">
      <i>PhD candidate</i><br />
      </p>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/index.html">About</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

</nav>

<div id="social">
    {% include social.html %}
</div>

  </div>
</div>
